<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KeepNotes</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<h1>KeepNotes</h1>


<div class="container">
    <div class="row">
        <div class="categories col-md-auto">
            <ul th:each="category: ${categories}" class="list-group">
                <li class="list-group-item">
                    <form th:action="@{/deleteCategory}" method="post" class="input-group mb-3">
                        <a th:href="@{/category/{id}(id=${category.getId()})}"
                           th:utext="${category.getName()}"></a>
                        <input type="hidden" name="id" th:value="${category.getId()}">
                        <div th:switch="${category.getId()}">
                            <input th:case="null" type="submit" class="btn btn-outline-danger"
                                   style="position:absolute; right:2px"
                                   onclick="return confirm('Удалить все категории?')"
                                   value="Удалить всё"/>
                            <input th:case="*" type="submit" class="btn btn-outline-danger"
                                   style="position:absolute; right:2px"
                                   onclick="return confirm('Удалить категорию?')"
                                   value="x"/>
                        </div>
                    </form>
                </li>
            </ul>

            <form action="#" th:action="@{/addCategory}" method="post" class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Новый тег" aria-label="Новый тег" name="name"/>
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-secondary" value="+"/>
                </div>
            </form>
        </div>

        <div class="tasks col-md-auto">
            <ul th:each="task: ${tasks}" class="list-group">
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5><a th:href="@{/category/}"
                               th:utext="${task.getTitle()}"></a></h5>
                        <small></small>
                        <form th:action="@{/deleteTask}" method="post" class="input-group mb-3">
                            <input type="hidden" name="id" th:value="${task.getId()}">
                            <input type="hidden" name="parentId" th:value="${currentCategory.id}">
                            <input type="submit" class="btn btn-outline-danger"
                                   style="position:absolute; right:2px"
                                   value="x"/>
                        </form>
                    </div>
                    <p class="mb-1">

                    </p>
                    <small>Статус активности с чекбоксом</small>

                </li>
            </ul>
            <div th:switch="${currentCategory.id}">
                <p th:case="null"></p>
                <form th:case="*" th:action="@{/addTask}" method="post" class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Новый заголовок"
                           aria-label="Новый заголовок" name="title"/>
                    <input type="hidden" name="parentId" th:value="${currentCategory.id}">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-outline-secondary" value="+"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

