<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KeepNotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand mb-0 h3 text-light" th:href="@{/category/}">KeepNotes</a>
</nav>
<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col-2 bg-dark">
            <div class="container pt-5">
                <ul th:each="category: ${categories}" class="list-group list-group-flush">
                    <li class="list-group-item bg-dark p-0 m-0">
                        <form th:action="@{/deleteCategory}" method="post"
                              class="input-group row justify-content-between p-1 mr-0 ml-0">
                            <div class="col-auto p-1">
                                <h6><a class="text-light" th:href="@{/category/{id}(id=${category.getId()})}"
                                       th:utext="${category.getName()}"></a></h6>
                                <input type="hidden" name="id" th:value="${category.getId()}">
                            </div>
                            <div class="col-auto p-0">
                                <div th:switch="${category.getId()}">
                                    <input th:case="null" type="submit" class="btn btn-outline-danger btn-sm"
                                           onclick="return confirm('Удалить все категории?')"
                                           value="Удалить всё"/>
                                    <input th:case="*" type="submit" class="btn btn-outline-danger btn-sm"
                                           onclick="return confirm('Удалить категорию?')"
                                           value="x"/>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                <form action="#" th:action="@{/addCategory}" method="post" class="input-group mt-3">
                    <input type="text" class="form-control" maxlength="15" placeholder="Новая категория"
                           aria-label="Новый тег" name="name"/>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-outline-secondary" value="+"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-10 bg-light">
            <div class="row justify-content-center mt-5">
                <div class="col-8">
                    <div class="container-fluid">
                        <div class="row justify-content-center mt-5">
                            <div class="container-fluid justify-content-beetween">
                                <th:block th:switch="${currentCategory.id}">
                                    <div th:case="null">
                                        <span><h3>Все карточки</h3></span>
                                    </div>
                                    <div th:case="*" class="row justify-content-between">
                                        <div class="col-6">
                                            <h3><p th:utext="${currentCategory.getName()}"></h3>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button" class="btn btn-info btn-sm col-6"
                                                    data-toggle="modal"
                                                    data-target="#redactModal">
                                                Редактировать
                                            </button>
                                        </div>
                                    </div>
                                </th:block>
                            </div>

                            <!--Модальное окно изменения категории-->
                            <div class="modal fade" id="redactModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Редактирование категории</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="#" th:action="@{/redactCategory}" method="post"
                                                  class="input-group mt-3">
                                                <input type="text" class="form-control" maxlength="15"
                                                       placeholder="Новое название категории" name="name"/>
                                                <div class="input-group-append">
                                                    <input type="submit" class="btn btn-outline-secondary" value="+"/>
                                                    <input type="hidden" name="id" th:value="${currentCategory.id}">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <th:block th:each="task: ${tasks}">
                                <div class="container-fluid m-2  col-12">
                                    <!--Карточка заметки-->
                                    <div class="card">
                                        <div class="card-header pb-0">
                                            <div class="row justify-content-between">
                                                <div class="col-6">
                                                    <h5><p th:utext="${task.getTitle()}"></p></h5>
                                                </div>
                                                <div class="col-6">
                                                    <!--Дата-->
                                                    <p class="card-text text-right m-0">
                                                        <small class="text-muted"
                                                               th:text="${#dates.format(task.createDate, 'dd MMM yyyy HH:mm:ss')}">
                                                        </small>
                                                    </p>
                                                    <th:block th:switch="${task.updateDate}">
                                                        <p th:case="null"></p>
                                                        <!--Дата изменения-->
                                                        <p th:case="*" class="card-text text-right m-0 mb-2">
                                                            <small href="#"
                                                                   class="text-light badge badge-pill badge-secondary"
                                                                   data-toggle="tooltip"
                                                                   th:title="'Изменено ' + ${#dates.format(task.updateDate, 'dd MMM yyyy HH:mm:ss')}">
                                                                ред
                                                            </small>
                                                        </p>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <textarea class="m-2" rows="3" readonly
                                                      th:utext="${task.getDescription()}"
                                                      style="border: none; outline:none; width:98%"></textarea>
                                        </div>
                                        <div class="card-footer p-3">
                                            <form th:action="@{/deleteTask}" th:id="'taskForm' + ${task.getId()}"
                                                  method="post" class="input-group m-0 p-0">
                                                <input type="hidden" name="id" th:value="${task.getId()}">
                                                <input type="hidden" name="parentId" th:value="${currentCategory.id}">
                                            </form>
                                            <div class="row justify-content-between">
                                                <div class="col-1">
                                                    <!--Кнопка редактирования заметки-->
                                                    <th:block th:switch="${currentCategory.id}">
                                                        <div th:case="null"></div>
                                                        <button th:form="'taskForm' + ${task.getId()}" th:case="*"
                                                                type="button" class="btn btn-primary btn-sm"
                                                                data-toggle="modal"
                                                                th:data-target="'#'+'redactTask'+${task.getId()}">
                                                            Изменить
                                                        </button>
                                                    </th:block>
                                                </div>
                                                <div class="col-1">
                                                    <input th:form="'taskForm' + ${task.getId()}" type="submit"
                                                           class="btn btn-danger btn-sm mr-3" value=" X "/>
                                                </div>
                                            </div>
                                            <!--Модальное окно редактирования заметки-->
                                            <div class="modal fade p-0" th:id="'redactTask'+${task.getId()}"
                                                 tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Редактирование заметки</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body p-0">
                                                            <form action="#" th:action="@{/redactTask}" method="post"
                                                                  class="input-group m-0 card">
                                                                <div class="form-group card-header">
                                                                    <input type="text" class="form-control"
                                                                           th:value="${task.getTitle()}" name="title"/>
                                                                </div>
                                                                <div class="form-group card-body">
                                                                    <textarea maxlength="1000" class="form-control"
                                                                              id="descAtChanging"
                                                                              th:text="${task.getDescription()}"
                                                                              rows="5" name="description"></textarea>
                                                                </div>
                                                                <div class="form-group card-footer">
                                                                    <input type="hidden" name="id"
                                                                           th:value="${task.getId()}">
                                                                    <input type="hidden" name="parentId"
                                                                           th:value="${currentCategory.id}">
                                                                    <input type="hidden" name="updateDate"
                                                                           th:value="${#temporals.format(#temporals.createNow(), 'dd.MMM.yyyy HH:mm:ss')}">
                                                                    <br>
                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Принять"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--     -->
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <div class="container-fluid m-2">
                                <!--Добавление таски-->
                                <div th:switch="${currentCategory.id}" id="addNewTask" style="display:none">
                                    <p th:case="null"></p>
                                    <form th:case="*" th:action="@{/addTask}" method="post" id="newTaskForm"
                                          class="input-group mb-3 card">
                                        <div class="form-group card-header">
                                            <input type="text" class="form-control" placeholder="Название"
                                                   id="newTitleForm"
                                                   aria-label="Новый заголовок" name="title"/>
                                        </div>
                                        <div class="form-group card-body">
                                            <textarea class="form-control" id="newDescriptionForm" rows="4"
                                                      name="description" maxlength="1000">
                                                        </textarea>
                                        </div>
                                        <br>
                                        <div class="form-group card-footer">
                                            <input type="hidden" name="parentId"
                                                   th:value="${currentCategory.id}">
                                            <input type="hidden" name="createDate"
                                                   th:value="${#temporals.format(#temporals.createNow(), 'dd.MMM.yyyy HH:mm:ss')}">
                                            <input type="submit" class="btn btn-primary btn-sm"
                                                   value="Создать"/>
                                            <button class="btn btn-danger btn-sm" onclick="(document.getElementById('newTaskForm').reset());
                                            (document.getElementById('addNewTask').style.display='none');">
                                                X
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!--   -->
                            </div>
                        </div>
                        <!--Кнопка добавления заметки-->
                        <div th:switch="${currentCategory.id}">
                            <p th:case="null"></p>
                            <div th:case="*">
                                <button type="button" class="btn btn-success m-3" id="addTaskButton"
                                        onclick="(document.getElementById('addNewTask').style.display='block');
                                        (document.getElementById('addTaskButton').style.display='none');
                                        (document.getElementById('newDescriptionForm').value='')">
                                    Добавить заметку
                                </button>
                            </div>
                        </div>
                        <!--   -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>

